<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c5fd8ed388.js" crossorigin="anonymous"></script>
    <title>Index</title>
</head>

<body class="home">
    <header>
        <div class="logo">

        </div>
        <button><i class="fas fa-bars"></i></button>
    <nav>
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">QUIENES</a></li>
            <li><a href="">SERVICIOS</a></li>
            <li><a href="">PORTAFOLIO</a></li>
            <li><a href="">SUCURSALES</a></li>
            <li><a href="">CONTACTO</a></li>
        </ul>
    </nav>

</header>
<main>
    <section class="box-banner">
    <img src="/images/img-banner.jpg" alt="Banner">
     </section>
     <section class="box-products">
         <article class="product">
             <div>
                 <img src="/images/img-pdto-1.jpg" alt="imagen-productos">
                 <img src="/images/img-descuento.png" alt="descuentos">
                 <a href="" class="tablet"></a>
             </div>
             <h4>Lorem, ipsum dolor.</h4>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vitae quidem ad recusandae minima voluptas?</p>
             <a href="#">ver más</a>
         </article>
         <article class="product">
            <div>
                <img src="/images/img-pdto-2.jpg" alt="imagen-productos">
                <img src="/images/img-gratis.png" alt="gratis">
                <a href="" class="tablet"></a>
            </div>
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vitae quidem ad recusandae minima voluptas?</p>
            <a href="#">ver más</a>
        </article>
        <article class="product">
            <div>
                <img src="/images/img-pdto-3.jpg" alt="imagen-productos">
                <img src="/images/img-nuevo.png" alt="nuevo">
                <a href="" class="tablet"></a>
            </div>
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vitae quidem ad recusandae minima voluptas?</p>
            <a href="#">ver más</a>
        </article>
        <article class="product">
            <div>
                <img src="/images/img-pdto-1.jpg" alt="imagen-productos">
                <img src="/images/img-descuento.png" alt="descuentos">
                <a href="" class="tablet"></a>
            </div>
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vitae quidem ad recusandae minima voluptas?</p>
            <a href="#">ver más</a>
        </article>
        <article class="product">
           <div>
               <img src="/images/img-pdto-2.jpg" alt="imagen-productos">
               <img src="/images/img-gratis.png" alt="gratis">
               <a href="" class="tablet"></a>
           </div>
           <h4>Lorem, ipsum dolor.</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vitae quidem ad recusandae minima voluptas?</p>
           <a href="#">ver más</a>
       </article>
       <article class="product">
           <div>
               <img src="/images/img-pdto-3.jpg" alt="imagen-productos">
               <img src="/images/img-nuevo.png" alt="nuevo">
               <a href="" class="tablet"></a>
           </div>
           <h4>Lorem, ipsum dolor.</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vitae quidem ad recusandae minima voluptas?</p>
           <a href="#">ver más</a>
       </article>
     </section>
</main>
<footer>
    <nav>
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">QUIENES</a></li>
            <li><a href="">SERVICIOS</a></li>
            <li><a href="">PORTAFOLIO</a></li>
            <li><a href="">SUCURSALES</a></li>
            <li><a href="">CONTACTO</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>