header {
    width: 100%;
}


.header__logo{
    border-radius: 50%;
    border: solid 1px var(--colorGrisClaro);
    width: 180px;
    height:180px;
    background-image: url('/images/logo.jpg');
    background-position: center;
    background-size: cover;
    margin: 15px auto 30px;

}

.header__burger{
    width: 50px;
    padding: 5px;
    font-size: 32px;
    background-color: var(--colorGrisOscuro);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 auto 30px;
    display: block;
    
}

.header__menu li{
    width: 100%;
    background-color: var(--colorGrisOscuro);
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    border-bottom: solid 2px white;
}

/* tablets */
@media (min-width: 460px) {

    .header__burger {
      display: none;
    }
  
    .header__menu ul {
      overflow: hidden;
    }
  
    .header__menu li {
      float: left;
      font-size: 0.6rem;
      width: 15.5%;
      margin-right: 1.4%;
    }
  
    .header__menu li:last-child{
      margin-right: 0;
    }
  }
  
  /* laptops */
  @media (min-width: 768px){
    .header__menu li {
      font-size: 1rem;
    }
  }


  